* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-primary: #22252d;
  --text-secondary: #262933;

  --bg-primary: #c4c4cc;
  --bg-secondary: #efeaf0;
  --bg-third: #fff;

  --red: #eb6666;
  --green: #26fed7;
}

.darkMode :root {
  --text-primary: #fff;
  --text-secondary: #c4c4cc;

  --bg-primary: #22252d;
  --bg-secondary: #292d36;
  --bg-third: #262933;

  --red: #eb6666;
  --green: #26fed7;
}

body {
  background: var(--bg-third);
}
